.page-title {
    font-size: x-large;
    color: whitesmoke;
    margin-top: 5px;
    text-align: left;
    font-weight:500;
    
}
.brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px;

}
.brand img {
    height: 60px; 
    width: auto;
    flex: 1;
    margin-right: 10rem;
}

.brand .logo-div {
    text-align: center;
}

.main {
    align-items: center;
    background: url('../assets/Header-bg.svg') no-repeat;
    background-size: contain; /* Cover the whole background */
    height: 100vh; 
    
}

body {
    font-family: "Roboto Slab";
    box-sizing: border-box;
}

.container {
    max-width: 1400px;
    margin: 0 auto;

}