.summary {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    overflow-x: auto;
}

.dashboard-container{
    width: 100%;
    margin: 0 auto;
    max-width: 1400px;
}

.summary div {
    flex: 1 1 calc(20% - 40px);
    background-color: white;
    /* margin: 10px; */
    margin-right: 30px;
    border-radius: 10px;
    min-width: 150px;
    color: black;
    padding: 10px;
    border-left: 7px solid rgb(37, 144, 250);
    transition: transform 0.3s;
}

.summary div:hover {
    transform: translateY(-5px);
}

.summary-text {
    font-size: medium;
}

.summary-number {
    font-size: xxx-large;
}

.chart-container {
    margin: auto 0;
    max-width: 700px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(5, 24, 234, 0.1);
    /* margin-left:10px ; */
    padding: 10px;
}

.chart-container canvas {
    width: auto;
    max-width: 100%;
    height: auto;
}

.chart-title {
    font-size: large;
    margin:20px 0px;

}


@media (max-width: 768px) {
    .summary div {
        flex: 1 1 calc(50% - 40px);
    }

    .page-title {
        font-size: 1.5rem;
    }

    .chart-title {
        font-size: medium;
    }
}

@media (max-width: 480px) {
    .d-flex {
        flex-direction: column-reverse;
    }

    .summary div {
        flex: 1 1 calc(100% - 90%);
    }

    .summary-number {
        font-size: xx-large;
    }

    .chart-title {
        font-size: medium;
    }

    .chart-container .chart-canvas{
        height: 300px !important;
        width: 100% !important;
        box-sizing: border-box;
        display: block;
    }

}