.project-card {
    margin: 16px 0;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-title {
    margin-bottom: 12px;
    font-weight: bold;
}

.project-dates {
    margin-bottom: 12px;
    color: #555;
}

.project-detail {
    margin-bottom: 8px;
}

.project-status {
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: bold;
}

.card-actions {
    display: flex;
    justify-content: space-between;
}

.card-actions button:last-child {
    margin-right: 0;
}

.search-filter-section {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 20px;
}

.search-input {
    width: 10rem
}

.sort-select {
    width: 10rem;
}

.project-table-container {
    min-width: 100%;
    margin: 0 auto;
}

.table-fixed-height {
    height: calc(100vh - 300px);
    box-shadow: none !important;
    overflow-y: auto;
    
}


.table-row{
    background-color: rgba(235,245,255,255);
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 15px;
    /* Hide any potential overflow */
}


.custom-scrollbar::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just to give it a consistent look */
}

.custom-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


/* Adjust alignment for pagination arrows */
.MuiTablePagination-root .MuiTablePagination-actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.MuiTablePagination-root .MuiTablePagination-spacer {
    display: none;
    /* Remove extra space */
}


.NameStatus{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.project-card .mb-header{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: baseline;

}

.action-btn{
    border-radius: 12px !important;
    width: 4rem;
}

@media (max-width: 480px) {
    .project-card {
        margin-bottom: 1rem;
        padding: 0px;
        box-shadow: 0px 2px 1px 1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12) !important;
    }

    .list-container .card {
        width: auto;
    }

    .project-card .card-actions {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
    }

    .search-filter-section {
        justify-content: space-around;
    }

    .search-input{
        width: 10rem;
    }

    .sort-select{
        width: 5rem;
    }

    .project-card .project-title{
        font-weight: bold;
    }

    .project-card .project-status{
        font-weight: bold;
    }

}