.list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    max-width: 1400px;
}

.project-card {
    margin-bottom: 1rem;
}

.project-card .card-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.search-filter-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-input {
    width: 10rem
}

.sort-select {
    width: 10rem;
}

.project-table-container{
    max-width: 1400px;
    margin: 0 auto;
}

.table-fixed-height {
    height: calc(100vh - 300px); /* Adjust height as needed */
    overflow-y: auto; /* Enable vertical scrolling */
}


@media (max-width: 600px) {
    .project-card {
        margin-bottom: 1rem;
    }
    
    .project-card .card-actions {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
    }
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Hide any potential overflow */
}


/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
.pagination-container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
.pagination-container {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}

/* Adjust alignment for pagination arrows */
.MuiTablePagination-root .MuiTablePagination-actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.MuiTablePagination-root .MuiTablePagination-spacer {
    display: none; /* Remove extra space */
}
